@import "nullstyle.scss";

body {
  font-family: sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  background: url('../IMG/bg.jpg')0 0 / cover no-repeat;
}

// ========================================================================================
[class*="__conteiner"] {
  max-width: 1630px;
  padding: 0 15px;
  margin: auto;
}

// ========================================================================================
$font_size:16;

@function rem($px) {
  @return $px / $font_size+rem;
}

// ========================================================================================
#top {

  bottom: 50px;
  right: 50px;
  display: block;
  position: fixed;
  z-index: 5;
  float: right;
  margin-right: 50px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #6eb353ad;
  border: 2px solid #75287d;
  transition: opacity 0.7s ease 0s;
  opacity: 0;

  &.active {
    opacity: 1;
  }

  &::after {
    content: "\01F869";
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #75287d;

  }
}

// =======================================Heared=================================================
.kids-header {
  position: fixed;
  width: 100%;
  z-index: 11;
  background: url('../IMG/bg.jpg') 0 / cover no-repeat;

  padding-bottom: 30px;

  &__conteiner {}

  &__body {
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
    top: 25px;
    z-index: 3;
    padding: 0 15px;

  }

  &__link {
    color: white;
    font-size: rem(16);
    display: block;

    &:hover {
      text-shadow: -1px 2px 1px #62a049;
    }

    &_prog,
    &_reg {
      font-size: rem(18);
      padding: 5px 10px;
      border: 2px solid #6fb353;
      background-image: linear-gradient(to right, #6fb353 30%, #9dc44d);
      border-radius: 10px;
      transition: all 0.2s ease 0s;


      &:hover {
        background: #62a049;
        border: 2px solid #ffffff;
      }
    }

    &_prog {}

    &_reg {}
  }
}

.menu {

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.burger {
  display: none;
  position: relative;
  z-index: 7;
  width: 40px;
  height: 30px;
  cursor: pointer;
  margin-right: 20px;

  &__line-top {
    position: absolute;
    top: 0;
  }

  &.active &__line-top {
    transform: rotate(-45deg) translate(0, -50%);
    top: 50%;
  }

  &__line-midle {
    top: 50%;
    transform: translate(0, -50%);
  }

  &.active &__line-midle {
    transform: scale(0);
  }

  &__line-bottom {
    position: absolute;
    bottom: 0;
  }

  &.active &__line-bottom {
    transform: rotate(45deg) translate(0, 50%);
    bottom: 50%;

  }

  &.active &__line-top,
  &.active &__line-midle,
  &.active &__line-bottom {
    background-color: #ffffff;
  }

  &__line-top,
  &__line-midle,
  &__line-bottom {
    background-color: black;
    position: absolute;
    height: 3px;
    width: 100%;
    display: block;
    transition: all 0.3s ease 0s;
  }
}

// ===================================Banner=====================================================
.kibs__banner {
  margin-top: 100px;
  padding: 20px 25px 50px 20px;
}

.banner {

  &__body {
    display: flex;
    row-gap: 70px;
    margin-bottom: 50px;
  }

  &__left-side {
    flex: 1 1 50%;

  }

  &__right-side {
    flex: 1 1 50%;
  }
}

.kids {}

.left-side {
  text-align: right;
  // position: relative;

  &__image {
    // position: absolute;
    padding-top: 27px;
    float: left;
    display: inline-block;
    max-width: 30%;
  }

  &__sub-title {
    font-size: rem(45);
    line-height: 80px;
    color: #75287d;

    span {
      font-size: rem(67);
    }
  }

  &__title {
    font-weight: bold;
    font-size: rem(50);
    line-height: 100px;
    margin: 50px 0px;
    color: #2f3e27;
    text-transform: uppercase;

    span {
      color: #6fb353;
      // letter-spacing: 5px;
    }
  }

  &__btn-body {
    display: flex;
    text-align: center;
    justify-content: space-between;
  }

  &__btn {
    background: transparent;
    flex: 0 1 47%;
    font-size: rem(30);
    padding: 8px;
    border: 2px solid #6fb353;
    font-weight: bold;
    border-radius: 15px;

    &:hover {
      border-color: #fff;
      color: #fff;
      background-image: linear-gradient(to right, #6fb353 70%, #fff);

    }

    &:not(:last-child) {
      background-image: linear-gradient(to right, #6fb353 30%, #9dc44d 70%);
      color: white;
    }
  }
}

.right-side {
  padding: 40px;
  display: grid;
  align-content: start;
  grid-template-columns: repeat(3, 1fr);

  &__item {
    img {
      width: 100%;
    }

    &_1 {
      animation: zoom 1s ease-in;

      @keyframes zoom {
        from {
          transform: scale(0);
        }

        to {
          transform: scale(1);
        }
      }
    }

    &_2 {
      animation: tow 1s 1s linear;

      @keyframes tow {
        from {
          transform: scale(0);
        }

        to {
          transform: scale(1);
        }
      }
    }

    &_3 {
      animation: zoom 1s 2s linear;

      @keyframes zoom {
        from {
          transform: scale(0);
        }

        to {
          transform: scale(1);
        }
      }
    }

    &_4 {
      grid-column: 1 / 3;
      animation: zoom 1s 3s linear;

      @keyframes zoom {
        from {
          transform: scale(0);
        }

        to {
          transform: scale(1);
        }
      }
    }

    &_5 {
      animation: zoom 1s 4s linear;

      @keyframes zoom {
        from {
          transform: scale(0);
        }

        to {
          transform: scale(1);
        }
      }
    }

    &_6 {
      animation: zoom 1s 5s linear;

      @keyframes zoom {
        from {
          transform: scale(0);
        }

        to {
          transform: scale(1);
        }
      }
    }

    &_7 {
      grid-column: 2 / 4;
      animation: zoom 1s 6s linear;

      @keyframes zoom {
        from {
          transform: scale(0);
        }

        to {
          transform: scale(1);
        }
      }
    }
  }
}

.banner__btn {
  margin-top: 1.562em;
  display: block;
  width: 60%;
  margin: auto;
  border: none;
  border-bottom: 5px solid #75287d;
  text-align: center;
  background-image: linear-gradient(to right, #6fb353 30%, #9dc44d 70%);
  color: #75287d;
  transition: border 0.3s ease 0s;

  &:hover {
    border-color: #fff;
  }
}

// ================================About========================================================
.about {

  &__title {
    font-size: rem(40);
    margin-bottom: 25px;
    position: relative;
    z-index: 7;
    color: #6fb353;
    padding-top: 20px;
  }

  &__content>p {
    margin-bottom: 20px;
  }

  &__content {
    position: relative;
    background-color: #ffffff;
    padding: 0 20px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 50px;

    &::after {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      background-image: linear-gradient(to right, #ffffffe5 70%, #c6b7f1);
      width: 30%;
      height: 100%;
      z-index: 1;
    }

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 30%;
      height: 100%;
      background-image: linear-gradient(to left, #fff 50%, #c6b7f1);
      z-index: 1;
    }

  }

  &__content-bottom {
    padding: 20px;
  }

  &__text {
    position: relative;
    z-index: 3;
    font-size: rem(25);
    font-style: italic;
    line-height: 1.5;
  }

  &__list {
    position: relative;
    z-index: 3;
    padding: 10px;

  }

  ul &__item {
    &::first-letter {
      text-transform: capitalize;
      color: #6fb353;
      letter-spacing: 2px;
    }

    position: relative;
    padding-left: 25px;
    line-height: 40px;
    font-size:rem(25);

    &::before {
      content: '\2624';
      position: absolute;
      top: 0;
      left: 0;
      animation: heart .7s ease infinite;
      color: #435c39;
    }

    &:nth-child(1) {
      transition: all .7s ease 0s;
      position: relative;
      left: -100%;
    }

    &:nth-child(1).active {
      left: 0%;
    }

    &:nth-child(2) {
      transition: all .7s ease;
      position: relative;
      left: -100%;
    }

    &:nth-child(2).active {
      left: 0%;
    }

    &:nth-child(3) {
      transition: all .7s ease;
      position: relative;
      left: -100%;
    }

    &:nth-child(3).active {
      left: 0%;
    }

    &:nth-child(4) {
      transition: all .7s ease;
      position: relative;
      left: -100%;
    }

    &:nth-child(4).active {
      left: 0%;
    }

    &:nth-child(5) {
      transition: all .7s ease;
      position: relative;
      left: -100%;
    }

    &:nth-child(5).active {
      left: 0%;
    }

    &:nth-child(6) {
      transition: all .7s ease;
      position: relative;
      left: -100%;
    }

    &:nth-child(6).active {
      left: 0%;
    }

    &:nth-child(7) {
      transition: all .7s ease;
      position: relative;
      left: -100%;
    }

    &:nth-child(7).active {
      left: 0%;
    }

    &:nth-child(8) {
      transition: all .7s ease;
      position: relative;
      left: -100%;
    }

    &:nth-child(8).active {
      left: 0%;
    }

    &:nth-child(9) {
      transition: all .7s ease;
      position: relative;
      left: -100%;
    }

    &:nth-child(9).active {
      left: 0%;
    }

    &:nth-child(10) {
      transition: all .7s ease;
      position: relative;
      left: -100%;
    }

    &:nth-child(10).active {
      left: 0%;
    }

    &:nth-child(11) {
      transition: all .7s ease;
      position: relative;
      left: -100%;
    }

    &:nth-child(11).active {
      left: 0%;
    }
  }
}

// ====================================Swiper====================================================
.about {

  &__swiper {
    margin-bottom: 30px;
    // height: 450px;
  }
}

div.swiper {
  // padding: 50px 0;
}

.swiper-wrapper {
  // padding: 0 50px;
}


div.swiper-slide {
  // width: 290px;
  // overflow: hidden;
  // padding: 35px 0;
}

.slide {

  &__item {
    text-align: center;
    // width: 300px;
    min-height: 330px;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 25px;
    background-color: #fff;
    // margin: auto;
    border: 1px solid #000;
  }

  &__titel {
    font-size: rem(17);
    font-weight: bold;
    margin-bottom: 10px;
  }

  &__image {
    margin-bottom: 20px;

    img {
      width: 70%;
      border-radius: 10px;
    }
  }

  &__text {
    font-size: rem(20);
  }
}

.swiper-pagination {}

span.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
}

.swiper2-pagination {}

// =====================================Test===================================================
.kids {

  &__test {
    margin: 50px 0;
  }
}

.test {

  &__title {
    font-size: rem(40);
    color: #6fb353;
    line-height: 70px;
  }

  &__body {
    display: flex;
    padding-top: 30px;
  }

  &__icons-body {
    padding-left: 50px;

    img {
      max-width: 30%;
      display: block;
      margin: auto;
    }
  }

  &__text {
    flex: 0 1 50%;
    font-size: rem(25);
    line-height: 37px;
    text-align: justify;
    color: rgb(255, 255, 255);

    span:first-child {
      color: #6fb353;
      font-size: rem(27);
    }
  }
}

.icons__title {
  padding-top: 20px;
  text-align: center;
  font-size: rem(40);
  color: #6fb353;
}


// ======================================Forms==================================================
.kids {

  &__forms {
    margin-bottom: 50px;
  }
}

.forms {

  &__conteiner {}

  &__row {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: space-around;
  }
}

.form {
  padding: 20px;
  flex: 1 1 33.3333%;
  background: white;
  border: 1px solid #000;
  border-radius: 25px;

  &__title {
    font-size: rem(25);
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    color: #6fb353;
    padding: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  label {
    margin-bottom: 20px;
    display: inline-block;
    font-weight: bold;
  }

  input {
    &:focus {
      background-color: #74287d10;
    }

    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
    border-bottom:1px solid #62a049;
  }

  &__btn[type="submit"] {

    background: url("/IMG/bg.jpg");
    font-size: rem(25);
    text-transform: uppercase;
    color: white;
    border-radius: 10px;
    padding: 15px 0;
    border-bottom: 2px solid#62a049;
  }
}

// =======================================speakers=================================================
.kids {

  &__speakers {
    margin-bottom: 50px;
  }
}


.speakers {
  &__title {
    font-size: rem(40);
    color: #6fb353;
    padding: 20px;
  }

  &__body {
    position: relative;
  }

  &__row {
    padding: 50px 0;
    // gap: 15px;
    // grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  }

  &__column {
    // display: flex;
    // flex-direction: column;
    &:nth-child(5) img{
       object-position: 0px 10px;
    }
    &:nth-child(7) img{
       object-position: top ;
    }
    
  }
}

.column-speakers {
  text-align: center;
  background-color: white;
  border-radius: 10px;  
  padding: 20px;  
  box-shadow: 3px 3px 15px greenyellow ;

  &__image {
    position: relative;
    margin: auto;
    // padding-bottom: 60%;
    border-radius: 50%;
    overflow: hidden;
    width: 370px;
height: 370px;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;     
    }
  }


  &__name {

    font-size: rem(25);
    font-weight: bold;
    text-align: center;
    padding: 10px;
  }

  &__text {
    flex: 1 1 auto;
    font-style: italic;
    font-size: rem(20);

  }
}

// ==========================================Swiper Speakers==========================================
div.swiper-slide{
  height: auto;
}
.swiper2-pagination {
  position: absolute;
  z-index: 2;
}

.swiper2-pagination span {}

.swiper-button-disabled {
  opacity: .5;
}

.swiper2-button-prev,
.swiper2-button-next {
  background: url('/IMG/icons/next.png')0 0 / 50px no-repeat;
  width: 50px;
  height: 50px;
  color: blue;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  z-index: 2;
}

.swiper2-button-prev {
  left: 0;
  transform: rotate(180deg);
}

.swiper2-button-next {
  right: 0;
}

// ======================================partners==================================================
.kids {

  &__partners {}
}

.partners {

  &__title {
    font-size: rem(40);
    color: #6fb353;
    padding: 20px;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }

  &__column {
    flex: 0 1 33.3333%;
  }

  &__item-column {
    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      object-fit: contain;
    }
  }

  &__title {}
}

// ========================================================================================
.kids {

  &__organizer {}
}

.organizer {

  &__conteiner {}

  &__row {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }

  &__column {
    flex: 0 1 33.3333%;
  }

  &__item-column {
    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      object-fit: contain;
    }
  }

  &__title {}
}

// ==========================================footer==============================================
.kids {

  &__footer {
    font-family: Comfortaa, cursive;
  }
}

.footer-up {
  background-color: white;
}

.footer {


  &__top {
    display: flex;
    flex-wrap: wrap;
  }

  &__bottom {
    display: flex;
    flex-wrap: wrap;
  }
}

.top-column {
  flex: 0 1 33.3333%;

  &__list {
    a {
      color: #3874bd;
    }

    li {
      margin-bottom: 15px;
      color: #3874bd;
    }
  }

  &__title {
    font-size: rem(25);
    font-weight: bold;
    color: #3874bd;
    line-height: 40px;
  }

  &__phone {}

  &__social {
    a {
      display: inline-block;
      width: 30px;
      height: 30px;
      fill: #74287d7e;

      &:hover {
        fill: #74287d;
      }
    }
  }

  &__email {}

  &__address {}
}

.bottom-footer {

  &__column {
    display: flex;
    flex: 0 1 33.3333%;
    align-items: center;

    &_2 {}
  }

  a {
    width: 100px;
    color: white;

    img {
      width: 100%;
    }
  }

  &__text {
    color: white;
  }
}


// ======================================Adaptive==================================================





@media (max-width:1530px) {
  .left-side__image {
    max-width: 40%;
  }

  .left-side__sub-title {
    font-size: rem(27);
    line-height: 50px;

    span {
      font-size: rem(40);
    }

    .left-side__title {
      font-size: rem(40);
      line-height: 40px;
      margin: 30px 0px;
    }
  }

  .banner__right-side {
    flex: 1 1 40%;
  }
}

@media (max-width:1190px) {
  .left-side__image {
    width: 40%;
  }

  .left-side__sub-title {
    font-size: rem(32);

    span {
      font-size: rem(50);
    }
  }

  .left-side__title {
    font-size: rem(50);
    line-height: 70px;
    margin: 20px 0px;
  }

  .left-side__btn {
    font-size: rem(25);
  }
}

@media (max-width:1024px) {
  .left-side__sub-title {
    font-size: rem(28);
    line-height: 60px;
    color: #75287d;

    span {
      font-size: rem(43);
    }
  }

  .left-side__title {
    font-size: rem(35);
  }
}

@media (max-width:991.97px) {
  .banner__body {
    flex-direction: column;
  }

  .right-side {
    padding: 50px;
  }
}

@media (max-width:767.97px) {
  .test__body {
    flex-direction: column;
  }

  .test__title {
    font-size: rem(30);
    line-height: 40px;
  }

  .test__text {
    text-align: start;
    font-size: rem(20);

    span {
      font-weight: bold;
      color: white;
      font-size: rem(23);
    }
  }

  .about__text {
    font-size: rem(20);
  }

  ul .about__item {
    font-size: rem(16);
  }

  div.swiper {
    padding: 0;
  }

  .about__swiper {
    margin: 10px;
  }

  .slide__item {}

  span.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
  }

  .kids-header {
    box-shadow: 2px 4px 10px #75287d;
  }

  .kids-header__menu {
    display: none;
  }

  body.active {
    overflow: hidden;
  }

  .kids-header__menu.active {
    display: block;


    .menu__list {
      animation: height .3s linear;

      @keyframes height {
        from {
          height: 0%;
        }

        to {
          height: 100%;
        }
      }

      position: fixed;
      z-index: 7;
      background-color: #75287d;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      flex-direction: column;
      row-gap: 20px;
      padding-top: 70px;
      text-align: center;

      .menu__item {
        margin-right: 0;

        .kids-header__link {
          font-size: rem(25);

          &_prog,
          &_reg {
            width: 200px;
          }
        }
      }
    }
  }

  .burger {
    display: block;
    z-index: 9;
  }

  .left-side__btn {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .left-side__title {
    font-size: rem(42);
    line-height: 80px;
  }

  .left-side__sub-title {
    font-size: rem(25);

    line-height: 40px;

    span {
      font-size: rem(40);
      display: block;
    }
  }

  .right-side {
    padding: 0;

  }
}

@media (max-width:425px) {
  .kids-header {
    padding: 15px 0;
  }

  .left-side__btn-body {
    flex-direction: column;
  }

  .kids-header__body {
    margin: 0;
  }

  .left-side__image {
    display: none;
  }

  .kibs__banner {
    margin-top: 70px;
    padding: 0;
  }

  .banner__body {
    display: block;
  }

  .left-side__title {
    font-size: rem(32);
    line-height: 50px;
    text-align: center;
  }

  .left-side__sub-title {
    text-align: center;
    font-size: rem(27);
  }

  .burger {
    width: 30px;
    height: 20px;
    margin-right: 0;
  }

  .left-side {
    margin-bottom: 20px;
  }

  .left-side__btn {
    font-size: rem(20);
    text-align: center;
  }

  .about__title {
    font-size: rem(30);
  }

  .about__text {
    font-size: rem(20);
  }

  .banner__btn {
    margin-bottom: 20px;
    display: block;
  }

  .test__text {
    font-size: rem(20);
  }

  .footer__bottom,
  .footer__top {
    display: block;
  }
}